.icecream-card {
    // padding-right: unset;
    padding-left: auto;
    padding-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.icecream-image {
    border-radius: 20px;
}

.spacer2 {
    height: 20px
}

.spacer {
    height: 6px
}

.icecream-input {
    margin-top: 10px;
}

.button {
    display: inline-block;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

// .testOne {
//     display: block;
// }