<nb-layout>

    <nb-layout-header fixed>
        <div class="float-right header-title">
            <h3 [routerLink]="['']">Sam's Ice Cream</h3>
        </div>

        <div class="float-left">
            <button [routerLink]="['']" nbButton status="basic" style="margin-right: 10px;">Home</button>
            <button [routerLink]="['icecream']" nbButton status="info" style="margin-right: 10px;">Ice Cream</button>
            <button [routerLink]="['admin']" nbButton status="info">admin</button>
        </div>
    </nb-layout-header>

    <nb-layout-column>
        <router-outlet></router-outlet>
    </nb-layout-column>

    <nb-layout-footer fixed>
    </nb-layout-footer>

</nb-layout>


<!-- <router-outlet></router-outlet> -->